
<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="/" class="navbar-brand"><i class="fa fa-h-square"></i>ealth Center</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="_top" href="/home/#top" class="smoothScroll">@Innobedded.KrankenHause.WebSite.Resources.Resource.home</a></li>
                <li><a id="_aboutus" href="/home/#about" class="smoothScroll">@Innobedded.KrankenHause.WebSite.Resources.Resource.aboutus</a></li>
                <li><a id="_doctors" href="/home/#doctors" class="smoothScroll">@Innobedded.KrankenHause.WebSite.Resources.Resource.doctors</a></li>
                <li><a id="_services" href="/home/#services" class="smoothScroll">@Innobedded.KrankenHause.WebSite.Resources.Resource.services</a></li>
                <li><a id="_clinics" href="/home/#clinics" class="smoothScroll">@Innobedded.KrankenHause.WebSite.Resources.Resource.clinics</a></li>
                <li><a href="/home/#google-map" class="smoothScroll">@Innobedded.KrankenHause.WebSite.Resources.Resource.contact</a></li>
                <li class="appointment-btn"><a id="_appointment" href="/home/#appointment">@Innobedded.KrankenHause.WebSite.Resources.Resource.appointment</a></li>
            </ul>
        </div>


    </div>
</section>


