@model IEnumerable<Innobedded.KrankenHause.Data.Entities.Fach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Fach Management</h2>

<br />
<p>
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <a id="create" class="btn btn-primary txt-white" title="Create" href="@Url.Action("create")">
        <i class="icon-pencil icon-white"></i>
        <span>
            <strong>Create New Fach</strong>
        </span>
    </a>

    <i class="bi bi-trash"></i>
</p>
<table class="table table-responsive justify-content-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>

        <a class="btn btn-primary txt-white" title="Edit" href=" @Url.Action("Edit", "faches", new { id = item.FachID })">
            <i class="icon-note icon-white"></i>
            <span>

            </span>
        </a>
        |
        <a id="details" class="btn btn-primary txt-white" title="Details" href="@Url.Action("Details",null,new {id=item.FachID })">
            <i class="icon-list icon-white"></i>
            <span>

            </span>
        </a>

        |
        <a id="delete" class="btn btn-primary txt-white" title="Delete" href="@Url.Action("Delete",null,new {id=item.FachID })">
            <i class="icon-trash icon-white"></i>
            <span>

            </span>
        </a>

    </td>
</tr>
    }


</table>


<!-- Modal -->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">-->
                @*<h5 class="modal-title" id="myModalLabel">Appointment Errors</h5>*@
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myModal_body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>-->


